Repository env0/env0-backstage-plugin, pull requests merged in 2024-12, with the labels that each got.

#67 Chore: fix all lint issues
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  plugins/backstage-plugin-env0/src/components/env0-environment-details-card/get-shorten-repo.ts
  plugins/backstage-plugin-env0/src/components/icons/vcs-icon/bitbucket.tsx
  yarn.lock
Labels: chore, github-actions

#68 Chore: Add command to build docker using arm
  packages/backend/package.json
Labels: pending final review, chore

#58 Chore: Add testing to backstage plugin
  examples/org.yaml
  packages/app/package.json
  plugins/backstage-plugin-env0/package.json
  plugins/backstage-plugin-env0/src/components/common/env0-card.tsx
  plugins/backstage-plugin-env0/src/components/common/test-handlers.utils.ts
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/env0-deployment-table.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/redeploy-button.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/redeploy-button.tsx
  plugins/backstage-plugin-env0/src/components/env0-environment-details-card/env0-environment-details-card.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-project-selector/env0-project-selector.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-template-selector/env0-template-selector.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-template-selector/env0-template-selector.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variable-field.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variables-input.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variables-input.tsx
  yarn.lock
Labels: pending final review, chore

#71 Chore: Add scaffolder actions tests
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/env0-deployment-table.tsx
  plugins/scaffolder-backend-module-env0/src/actions/create-environment.test.ts
  plugins/scaffolder-backend-module-env0/src/actions/redeploy-environment.test.ts
Labels: pending final review, chore, github-actions

#72 Fix: Long variable names are overlapped
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/redeploy-button.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variable-field.tsx
Labels: fix

#74 Chore: Update readme with print screens
  README.md
  plugins/backstage-plugin-env0/README.md
Labels: chore

#70 Chore: remove different end point environment variables
  app-config.yaml
  plugins/backstage-plugin-env0/src/components/env0-environment-details-card/env0-environment-details-card.tsx
  plugins/scaffolder-backend-module-env0/src/actions/common/api-client.ts
  plugins/scaffolder-backend-module-env0/src/actions/common/get-urls.ts
Labels: pending final review, chore

#73 Fix: Template selector loading times
  plugins/backstage-plugin-env0/src/components/env0-template-selector/env0-template-selector.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-template-selector/env0-template-selector.tsx
Labels: pending final review, fix
