Repository env0/env0-backstage-plugin, pull requests merged in 2025-01, with the labels that each got.

#77 Chore: refine readmes texts
  README.md
  plugins/backstage-plugin-env0/README.md
  plugins/scaffolder-backend-module-env0/README.md
Labels: chore

#78 Chore: Wrong yarn command in README
  plugins/backstage-plugin-env0/README.md
  plugins/scaffolder-backend-module-env0/README.md
Labels: chore

#76 Feat: Show deployment comment in deployment history table
  plugins/backstage-plugin-env0/src/api/types.d.ts
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/env0-deployment-table.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/env0-deployment-table.tsx
Labels: feature

#75 Fix: Add variable validation for redeploying environments
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/redeploy-button.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-deployment-table/redeploy-button.tsx
  plugins/backstage-plugin-env0/src/components/env0-environment-details-card/env0-environment-details-card.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variable-field.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variables-input.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variables-scaffolder-input.tsx
  plugins/backstage-plugin-env0/src/hooks/use-variables-validation.tsx
Labels: pending final review, fix

#79 Chore: add more inputs to create / deploy scaffolder actions
  plugins/scaffolder-backend-module-env0/src/actions/common/api-client.d.ts
  plugins/scaffolder-backend-module-env0/src/actions/common/schema.ts
  plugins/scaffolder-backend-module-env0/src/actions/create-environment.test.ts
  plugins/scaffolder-backend-module-env0/src/actions/create-environment.ts
  plugins/scaffolder-backend-module-env0/src/actions/redeploy-environment.test.ts
  plugins/scaffolder-backend-module-env0/src/actions/redeploy-environment.ts
Labels: chore

#80 Fix: sensitive variables resets on rerender issue
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variable-field.test.tsx
  plugins/backstage-plugin-env0/src/components/env0-variables-input/env0-variable-field.tsx
Labels: pending final review, fix

#82 Chore: fix example entityPage and add env details to readme
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/backstage-plugin-env0/README.md
Labels: chore

#81 Chore: Add backend docker build gh workflow
  .github/workflows/docker-build.yml
  .github/workflows/publish.yml
Labels: chore, github-actions

#83 Fix: github docker build worklflow
  .github/workflows/docker-build.yml
Labels: github-actions, fix
